<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LNButtonHighlightedImage</key>
	<string>Button_Orange</string>
	<key>LNButtonBackImage</key>
	<string>Button_Gray</string>
	<key>LNButtonImage</key>
	<string>Button_Purple</string>
	<key>LNWebsiteURL</key>
	<string>https://www.learnnavi.org</string>
	<key>LNPrivacyPolicyURL</key>
	<string>https://learnnavi.org/privacy-policy-mobile-apps/</string>
	<key>LNDictionaryURL</key>
	<string>https://files.learnnavi.org/dicts/NaviDictionary.pdf</string>
	<key>LNDatabaseFilename</key>
	<string>database.sqlite</string>
	<key>LNDatabaseServerURL</key>
	<string>https://files.learnnavi.org/mobile/</string>
	<key>LNDatabaseVersionFile</key>
	<string>database.version</string>
</dict>
</plist>
